<div class="container mt-4">

  <h2>Manage Products</h2>

  <!-- Loading -->
<div *ngIf="loading">
  Loading products...
</div>

  <table class="table table-bordered" *ngIf="!loading && products.length > 0" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.name }}</td>
        <td>₹{{ p.price }}</td>
        <td>
          <img [src]="p.image" width="80" />
        </td>
        
        
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteProduct(p._id)"> Delete </button>
          <button class="btn btn-primary btn-sm me-2"  (click)="editProduct(p._id)">  Edit </button>
              </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!loading && products.length === 0" class="text-muted">
    No products found
  </p>
</div>
