.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: #0f172a; /* dark navy */
  color: #e5e7eb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  
}

.header h2 {
  font-size: 28px;
  font-weight: 700;
  color: #111;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
  color: #444;
  transition: color 0.3s ease;
  border: none;
}

nav a:hover,
nav a.active {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #76869e !important;
}

.navbar-brand {
  color: #ffffff !important;
}
